In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [2]:
path = 'data/subway/subway601.xlsx'

df = pd.read_excel(path)
df = df.rename(columns={'Related/Unrelated':'label'})
df = df.rename(columns={'Sentiment':'sentiment'})
df = df[df.label.notnull()]
df = df.loc[:,['txt','label','sentiment']]

In [3]:
df

                                                   txt label sentiment
0    RT @PoseOnFX: How does it feel to be represent...     n       NaN
1    RT @PoseOnFX: How does it feel to be represent...     n       NaN
2    RT @avinashtharoor: @ashindestad my mate used ...     y         l
3    Dancers often focus on training flexible hamst...     n       NaN
4    RT @PoseOnFX: How does it feel to be represent...     n       NaN
..                                                 ...   ...       ...
344  Do not go where the path may lead, go instead ...     n       NaN
345  Jamaica–179 St/Forest Hills–71 Av/145 St/Norwo...     n       NaN
346  Jamaica–179 St/Forest Hills–71 Av/145 St/Norwo...     n       NaN
348  @pingkind My expected path...the little top in...     n       NaN
349  @tajh256 @boomiFGC Best of luck to yah man, ma...     n       NaN

[330 rows x 3 columns]

In [4]:
df.to_csv("sample_twitter_subway.csv")

In [7]:
df.loc[df.sentiment.notnull(),:]

                                                   txt label sentiment
2    RT @avinashtharoor: @ashindestad my mate used ...     y         l
6    RT @rabbijilljacobs: Hey new tweeps: my full-t...     y         l
9    @EvanPLewis After 14.5 months of silence, subw...     y         h
12   RT @NYCPBA_GC: More cops needed on the subways...     y         h
17   @ashindestad my mate used to say taking the tr...     y         h
..                                                 ...   ...       ...
323  @NYCTSubway why are there no B or D trains goi...     y         m
324  @NYCTSubway What’s going on with the Northboun...     y         m
331  First time on the subway in 18 months and I fo...     y         m
335  @IDoTheThinking Great thread!\n\nOn eliminatin...     y         l
338  I literally boarded the same train I would hav...     y         m

[92 rows x 3 columns]